{% extends "base.html.twig" %}

{% block body %}
  creation en cours...
  {{ form_start(form) }}
  {{ form_row(form.title) }}
  {{ form_row(form.content) }}
  {{ form_row(form.image) }}
  <button type="submit">Soumettre</button>
  {{ form_end(form) }}
{% endblock %}